/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";

.bottom {
   position: relative;
   bottom:0;
   width:100%;
}
.avatar {
    background-color: white;
    border-radius: 25px;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    height: 40px;
    width: 40px;
    overflow: hidden;
    text-align: center;
    img { width: 100% }
}
.navbar > a {
  margin: 8px 0px
}
.custom{
  margin-right: 24px;
  margin-left: 24px;
}
.dropdown-menu-sw {
  right: 0;
  left: auto;
}
.nav-link {
  padding: 0;
}
.dropdown-toggle::after {
  color: white;
}
.white {
  color: white !important;
}
#acid-dropdown {
  width: 300px !important;
}
.tank {
    position: relative;
    text-align: center;
}
.centered-image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.top-image {
    position: absolute;
    top: 2px;
    left: 50%;
    transform: translate(-50%);
}

.bottom-image {
    position: absolute;
    bottom: 2px;
    left: 50%;
    transform: translate(-50%);
}
